<h1> Visit </h1>


<form action="/visit" method="POST">

  <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" name="name_" placeholder="Enter your name">
    <label >Cell</label>
    <input type="text" class="form-control" name="cell_" placeholder="Enter your cell number">
    <label >Date</label>
    <input type="text" class="form-control" name="date_" placeholder="Enter visit date">
   </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
  