<h1> Visit </h1>


<form action="/visit" method="POST">

  <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" name="name_" placeholder="Enter your name">
    <label >Cell</label>
    <input type="tel" class="form-control" name="cell_" placeholder="Enter your cell number">
    <label >Date</label>
    <input type="date" class="form-control" name="date_" placeholder="Enter visit date">
    <label >Master</label>
    <select class="form-control" name="master_">
    <option>John</option>
    <option>Bill</option>
    <option>Martin</option>
    <option>Jessie</option>
    </select>
   </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
  